.menu-nav-est {
    /* position: relative; */
    width: 100%;
    height: fit-content;
}
.menu-nav-est{
    text-align: center;
}
.button-modal {
    position: static;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-align: center;
}


.sub-menu-reg {
    padding: 15px;
    margin-bottom: 5px;
}

.sub-menu-reg a {
    padding: 15px;
    background-color: #1778b8c7;
    margin-right: 5px;
}
/***********************************/


/***********************************/
.reg-veh {
    text-decoration: none;
    /* color: #e4e4e4; */
}
/* ---------------------------------------------------------------- */
.ocupado{
    display: inline-block ;
    background-image: url("../img/png/auto-diag-small.png");
    background-size: cover;
    background-position: right 20%;
    cursor: pointer;
}

.desocupado{
    display: inline-block ;
    background-color: #1778b8c7;
    cursor: pointer;
}
/* ---------------------------------------------------------------- */

.titulo-estacionamiento{
    width: 100%;
    text-align: center;
}

.contador {
    width: 100%;
    display: flex;
    margin-top: 10px ;      
}

.cont-antvar{
    width: 100%;
    display: inline-flex;
    margin: 10px;
}

.estacionamientos {
    width: 100%; 

}
/* -----------------------------ESTACIONAMIENTOS ANTONIO VARAS----------------------------------------- */
.row {
    line-height: 0;
    max-height: 408px;
    background-size: 550px 820px;
    background-position: left -5px;
}

.rowX {   /*row de prat    */
    line-height: 0;
    max-height: 820px;
    background-size: 550px 820px;
    background-position: left -5px;
}

.lugar1 {
    background-image: url(../img/png/asfaltoPlus11.png);
    height: 820px;
    max-width:550px;

}

.lugarA {
    background-image: url(../img/png/asfaltoPlus6.png);
    height: 820px;
    max-width:550px;

}

/* ------------------------------------------------------------------------ */
.input-reg-veh{
    margin: 15px;
    /* text-align: center; */
    width:550px;
    display: inline-block;
}
@media (min-width:1024px){

    .input-reg-veh{
        margin: 10px;
        float: left;
    }
}

.btn-est{
    cursor: pointer;
    /* border-radius: 5px; */
    /* color:rgba(17, 118, 185, 0.78)7 ; */
    /* background-color: #0eb825c7; */
    /* margin: 1.5px; */
    margin: 4px -.8px;
    height: 50px; 
    width: 52px
}