/******************************************/


/**************GESTION USUARIO*************/

.contenido-cuerpo {
    width: 100%;
    height: auto;
    display: block;
}

.contenido-usuario {
    width: 100%;
    margin-bottom: 15px;
}

.user-grilla {
    width: 100%;
    margin-bottom: 5px;
    background-color: #FFFFFF;
}

.contenido1 h2 {
    margin-bottom: 5px;
}

.form-registro {
    margin-top: 10px;
}

.contenido1 {
    background: #ffffff;
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.register-user-form input {
    background: #f2f2f2;
    border: solid 1px;
    margin: 6px;
    padding: 5px;
    box-sizing: border-box;
}

.combolista {
    background: #f2f2f2;
    border: solid 1px;
    margin: 6px;
    padding: 5px;
    box-sizing: border-box;
}

.register-user-form {
    background: #bdb8b8;
    width: 100%;
    border: solid 1px;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;
    
}

.button-reg {
    background: #333333;
    width: auto;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    float: right;
}

.register-user-form .button-reg {
    position: relative;
    margin: 15px;
    /* padding: 15px; */
    box-sizing: border-box;
    font-size: 11px;
    margin-right: 10px;
}

@media(min-width:1024px) {
    .register-user-form {
        background: #bdb8b8;
        width: 100%;
        border: solid 1px;
        margin: 0;
        padding: 20px;
        box-sizing: border-box;
        font-size: 16px;
        display: flex;
    }
    .register-user-form .button-reg {
        position: relative;
        margin: 1px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 11px;
        margin-right: 10px;
    }
    .user-grilla {
        justify-content: center;
    }
}

.contenido2 {
    background: #ffffff;
    width: 100%;
    margin: 0;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}